/* .InputFieldWrapper {
  padding: 1rem;
  outline: 1px solid #0051a369;
  margin-bottom: 1rem;
  width: 600px;
} */

.InputFieldWrapper .ui.basic.label {
  font-weight: 400;
  font-size: 0.9em !important;
  color: rgba(0, 0, 0, 0.87);
}

/* .ui.icon.input.input input {
  padding-right: 1em !important;
  background-color: pink !important;
} */
